<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
    <property name="LOG_FILE_MAX_HISTORY" value="90" />
    <property name="LOG_FILE_MAX_SIZE" value="10MB" />
    
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <!-- Defaults -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    
    <!-- When spring.profiles.active=logging is set -->
    <springProfile name="logging">
        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
    
</configuration>